<meta charset="utf-8">
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@develop/dist/web3.js"></script>
<title>Simple Voting Application</title>